*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,h2,h3,h4,h5,h6,p,i,a{
    font-family: 'Times New Roman', Times, serif;

}



/* slider section  */

.slider-info{
    background-color: #494949;
}
.slider-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* shoes section  */
#shoes-part{
    display:flex;
    gap: 20px;
}
